.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-bottom: 40px;
}
.center img{
    width: 250px;
    justify-content: center;
    margin-bottom: 0px;
}
h6,h4{
    font-weight: 400;
}